.about {
    padding-bottom: 80px;
}

.heading {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    margin-bottom: 10px;
}
.about .desc {
    -webkit-columns: 2;
    column-count: 2;
    gap: 40px;
}
.about .desc p {
    line-height: 24px;
}