.main {
    background-image: url('./../../img/ab.95d6e6f5dbace6a26b72.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 80px;
}